<h1>New Link</h1>

<%= form_with scope: :link, url: links_path, local: true do |f| %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>
 
  <p>
    <%= f.label :url %><br>
    <%= f.url_field :url %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>